#!/usr/bin/make -f

# Uncomment this to turn on verbose mode. 
#export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_build:
	dh_auto_build
	docbook-to-man debian/lmbench-run.sgml >debian/lmbench-run.1

override_dh_auto_clean:
	dh_auto_clean
	rm -f debian/lmbench-run.1
	rm -rf debian/doc debian/manpages debian/scripts

override_dh_auto_install:
	rm -rf debian/scripts && cp -a scripts debian
	mv debian/scripts/SHIT debian/scripts/STUFF
	chmod -x debian/scripts/Makefile debian/scripts/README \
		debian/scripts/TODO debian/scripts/info-template

	rm -rf debian/doc && cp -a doc debian

	# Install all of the manpages w/ dh_installdocs in lmbench-doc,
	# just in case...
	mkdir debian/doc/man
	cp debian/doc/*.[1-9] debian/doc/man

	# ... and install them with dh_installman in lmbench, excluding
	# those that conflict with manpages from other packages.
	rm -rf debian/manpages && mkdir debian/manpages
	find debian/doc/man -type f \
		-not -name graph.1 \
		-not -name rccs.1 \
		-not -name bargraph.8 \
		-not -name hello.8 \
		-exec cp {} debian/manpages \;

	# man can deal with compressed manpages.
	gzip debian/doc/man/*

	dh_auto_install
